/*웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/*문서 전체의 기본이 되는 body 영역 스타일 적용 */
body {
    padding: 0; /*내부 여백 제거*/
    margin: 0; /*외부 여백 제거*/
    font-family: 'Do Hyeon', sans-serif; /*폰트 적용*/
    color: #35465d; /*테스트 색상 적용*/
}

/*헤더 영역 스타일 적용*/
.header {
    padding: 10px 0; /*상단과 하단의 내부 여백 추가*/
    background-color: aqua; /*배경 색상 추가 나중에 바꿀거임*/
}

/*h1태그, h3스타일태그 적용*/
h1, h3 {
    margin-top: 0; /*상단 외부 여백 제거*/
    margin-bottom: 10px; /*하단 외부 여백 추가*/
    text-align: center; /*텍스트 가운데 정렬 적용*/
}

/*중간 콘텐츠 영역 스타일 적용*/
.container {
    background-color: #f6f7fa; /*배경색상적용 나중에 바꿀거임*/
    display: flex; /*디스플레이 적용*/
    flex-direction: column; /* flex디스플레이 방향 적용*/
    justify-content: center; /*영역내부가운데정렬플렉스*/
    align-items: center; /*영역내부가운데정렬플렉스2*/
    min-width: 350px; /*최소너비지정*/
    max-width: 650px; /*최대너비지정*/
    min-height: 400px; /*최소높이지정*/
    padding: 20px 0; /*상단과 하단의 내부 여백 적용*/
    margin: 0 auto; /*중간콘텐츠영역의 바디태그내가로가운대정렬적용*/
    border: 1px solid lightgrey; /*실선테두리색*
    border-radius: 10px; /*원형테두리적용*/
}

/*내부area영역 공통 스타일 적용*/
.area {
    background-color: white; /*배경색상 적용*/
    width: 60%; /*너비지정*/
    min-width: 300px;
    max-width: 600px;
    border: 2px dashed steelblue;
    border-radius: 10px;
    margin : 0 auto;
    padding: 20px;
    text-align: center;
}

/*파일 업로드 영역 스타일 적용!*/
#upload-area {
    cursor: pointer;
}

/*재선택영역 스타일 적용*/
#retry-area {
    cursor: pointer;
    margin-top: 20px;
}

/*위에 두부분 마우스 오버시 스타일 적용*/
#upload-area:hover,
#retry-area:hover {
    background-color: aliceblue;
}

/*area  내부의 그림 문자 스타일 적용*/
.guide-image {
    font-size: 120px;
}

/*img 태그 스타일 적용*/
#upload-image {
    width: 55%;
    max-width: 540px;
}